<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Activity admin</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

<link rel="stylesheet" type="text/css"
	href="webjars/bootstrap/3.3.7/css/bootstrap.min.css" />
</head>
<body>
	<h1>Activities</h1>
	<br />
	<br />
	<form th:action="@{/adminActivities}" th:object="${newActivity}" method="POST">
		<div>
			<table border="1">
				<tr>
					<th>ID</th>
					<th>Name</th>
				</tr>
				<tr th:each="activity : ${activities}">
					<td th:utext="${activity.id}">...</td>
					<td th:utext="${activity.name}">...</td>
					<td>
						<button type="submit" name="deleteActivity" th:value="${activity.id}"
							th:text="delete">Remove row</button>
					</td>
				</tr>
			</table>
		</div>

		<h1>Create an Activity:</h1>
		Name*: <input type="text" th:field="*{name}" /> <br /> 
		<input type="submit" name="addActivity" value="Create" />
	</form>

	<br />

	<!-- Check if errorMessage is not null and not empty -->

	<div th:if="${errorMessage}" th:utext="${errorMessage}"
		style="color: red; font-style: italic;">...</div>
</body>
</html>